<form [formGroup]="productForm" class="course-form m-2 p-2">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="price">Preço</label>
        <input type="text" class="form-control" id="price" formControlName="price">
    </div>
    <div class="form-group">
        <label for="description">Descrição</label>
            <textarea class="w-100 p-2" name="" id="" formControlName="description"></textarea>
    </div>
    <div class="form-group">
        <label for="avaliable">Status</label>
        <select name="avaliable" id="avaliable" formControlName="available">
            <option value="true">Disponível</option>
            <option value="false">Indisponível</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitForm()">{{ btnSubmit }}</button>
  </form>