<h2>Administradores</h2>
<div *ngIf="adminList$ | async as adminList; else noAdmins">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CLIENTE</th>
        <th scope="col">EMAIL</th>
        <th scope="col">FUNÇÃO</th>
        <th scope="col">SALDO</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of adminList; trackBy: trackById">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.userName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role ? 'Admin' : 'Cliente' }}</td>
        <td>{{ item.walletBalance !== null ? item.walletBalance : 'N/A' }}</td>
        <td><button (click)="insertInWallet()">Depositar</button></td>
        <td><button (click)="Edit()">Editar</button></td>
        <td><button (click)="Delete()">Cancelar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noAdmins>
  <div class="alert alert-warning" role="alert">
    Não há administradores.
  </div>
</ng-template>

<h2>Clientes</h2>
<div *ngIf="clientList$ | async as clientList; else noClients">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CLIENTE</th>
        <th scope="col">EMAIL</th>
        <th scope="col">FUNÇÃO</th>
        <th scope="col">SALDO</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clientList; trackBy: trackById">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.userName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role ? 'Admin' : 'Cliente' }}</td>
        <td>{{ item.walletBalance !== null ? item.walletBalance : 'N/A' }}</td>
        <td><button (click)="insertInWallet()">Depositar</button></td>
        <td><button (click)="Edit()">Editar</button></td>
        <td><button (click)="Delete()">Cancelar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noClients>
  <div class="alert alert-warning" role="alert">
    Não há clientes.
  </div>
</ng-template>
