@if (InApprovalsDto && InApprovalsDto.length > 0) {
<h2 class="m-5 ps-3 mb-2">Aprovações</h2>

    <table class="table p-3 border-3 table-striped">
        <thead class="table-secondary">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">PRODUTO</th>
            <th scope="col">DATA</th>
            <th scope="col">STATUS</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            @for (item of InApprovalsDto; track item.id) {
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.clientName }}</td>
                    <td>{{ (item.productName).substring(0, 35) }}</td>
                    <td>{{ item.purchaseDate | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
                    <td>{{ item.isApproved ? 'Aprovado' : 'Pendente'}}</td>
                    <td><button (click)="Approve(item.id)">Aprovar</button></td>
                </tr>
            }
        </tbody>
         
    </table>
}
@else {
    <div class="alert alert-warning" role="alert">
        Não há aprovações pendentes.
    </div>}