@if (PurschaseAprovedListDto && PurschaseAprovedListDto.length > 0) {
    <h2 class="mb-3 mt-5 ms-2">Compras Aprovadas</h2>
    <table class="table m-2 p-2">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">PRODUTO</th>
            <th scope="col">DATA</th>
            <th scope="col">STATUS</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            @for (item of PurschaseAprovedListDto; track item.id) {
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.clientName }}</td>
                    <td>{{ item.productName }}</td>
                    <td>{{  item.purchaseDate | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
                    <td>{{ item.isApproved ? 'Aprovado' : 'Pendente'}}</td>
                </tr>
            }
        </tbody>
         
    </table>
}
@else {
    <div class="alert alert-warning" role="alert">
        Não há aprovações pendentes.
    </div>}